.form{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/*-----------------*/
.textInputDark{
  padding: 10px;
  border-radius: 10px;
  min-width: 300px;
  border: 1px solid var(--dark_text);
  background-color: var(--dark_elements);
  color: var(--dark_text);
}
.textInputDark:focus{
  background-color: var(--dark_bg);
  outline: none;
}
.textInputDark::placeholder{
  color: var(--light_color_input);
}

.textInputLight{
  padding: 10px;
  border-radius: 10px;
  min-width: 300px;
  border: 1px solid var(--light_text);
  background-color: var(--light_elements);;
  color: var(--light_text);
}
.textInputLight:focus{
  background-color: rgba(215, 214, 214, 0.213);
  outline: none;
}
.textInputLight::placeholder{
  color: var(--light_color_input);
}
/*-----------------*/


.selectInputDark{
  background-color: var(--dark_elements);
  color: var(--dark_text);
  outline: 1px solid var(--light_elements);
}
.selectInputLight{
  background-color: var(--light_elements);
  color: var(--light_text);
  outline: 1px solid var(--dark_elements);
}

.selectInputDark, .selectInputLight, .submit{
  padding: 10px;
  border-radius: 10px;
  min-width: 300px;
  border: none;
}

.wrapperSubmit{
  visibility: hidden;
  display: none;
}

.submit{
  display: none;
  visibility: hidden;
  width: 100%;
  background-color: var(--dark_bg);
  border: 1px solid var(--dark_text)
}

.submit:hover, .submit:active{
  background-color: var(--dark_elements)
}

.selectInputDark option[value="all"] {
  color: var(--dark_text);
}

.selectInputLight option[value="all"] {
  color: var(--light_text);
}

@media (max-width: 700px) {
  .form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
  }

  .textInputDark, 
  .textInputLight, 
  .selectInputDark, 
  .selectInputLight, .submit{
    font-size: 20px;
    width: 100%;
  }
  .submit, .wrapperSubmit{
    display: block;
    visibility: visible;
  }
}

@media (max-width: 600px) {
  .form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
  }

  .textInputDark, 
  .textInputLight, 
  .selectInputDark,
  .selectInputLight, .submit{
    font-size: 20px;
    width: 100%;
  }
  .submit, .wrapperSubmit{
    display: block;
    visibility: visible;
  }
}

@media (max-width: 320px) {
  .textInputDark .selectInputDark{
    width: 100%;
    padding: 0px;
  }

  .textInputLight .selectInputDark{
    width: 100%;
    padding: 0px;
  }

  .textInputDark .selectInputLight{
    width: 100%;
    padding: 0px;
  }

  .textInputLight .selectInputLight{
    width: 100%;
    padding: 0px;
  }
}